[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Larch Documentation
Comment=
Categories=Application;
Exec=xdg-open file:///opt/apps/larch/docs/html/index.html
Icon=larch
Terminal=false
StartupNotify=true
